{% extends 'app/base.html' %}




{% block content %}


<!-- signup form starts -->
<div class="col-lg-5 shadow mx-auto p-4 mt-4">
    <h4 style="text-align: center">create account</h4>
    <br>
    <div>
        <form method="post" action = '/signup/'>
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <input class = 'btn btn-success' type="submit" value="create account">
        </form>
    </div>
    
</div>

<!-- signup form ends -->

{% endblock %}



    
    